.login-mainContainer {
    width: 450px;
    height: 245px;
    background-color: #b4b2b8ba;
    margin-top: 150px ;
    border-radius: 20px;
    display: inline-block;
    transition: 0.3s;
}
.login-mainContainer.l {
    height: 410px;
    transition: 0.3s
}

.login-login1 {
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.login-h5.l {
    display: inline-block;
    margin-top: 30px;
    border-bottom: 5px solid #49A2CC;
    transition: 0.6s;
}
.login-h5.s {
    display: inline-block;
    margin-top: 30px;
    transition: 0.6s;
}
.login-loginForm {
    display: block;
    transition: 0.8s;
}
.login-boxInput {
    margin: 10px 0px;
    width: 320px;
    height: 30px;

}
.login-submit {
    width: 170px;
    height: 35px;
    background-color: #49A2CC;
    border-radius: 50px;
    cursor: pointer;
    border-bottom: none;
}

.login-exit {
    font-size: 30px;
    color: white;
    margin-top: 20px;
}
input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 2px 15px;
    font-family: Arial;
    font-size: 18px;
    border-bottom: 2px solid rgb(34, 23, 23);

}
input::placeholder{
    color: black;
    font-size: 16px;
}