* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  background: url("background.jpg") repeat fixed 60%;
  opacity: 85%;
  width: 100%;
  height: 1200px;
  text-align: center;
  padding-bottom: 50px;

}